.manage-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#manage-posts-overview h2 {
    font-size: 24px;
    color: white;    /*added this */
    margin-bottom: 20px;

}

.manage-display-posts-container {
    width: 600px;
    gap: 20px;

}

.manage-post-tile {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}


.manage-post-info {
    margin-bottom: 15px;
    color: white;       /*added this */
    padding-bottom: 5px;   /*added this */
}


.post-images {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

}

.post-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
    padding-top: 5px; /*added this */
}

.manage-tag-display {
    display: flex;
    flex-wrap: wrap;
    color: white;        /*added this */
}

.manage-tag-display{
    word-break: break-all;
}

.managePost-title{
    word-break: break-all;
    color: white;       /*added this */
    border-bottom: solid white 2px; /*added this */
}
.managePost-body{
    word-break: break-all;
    color: white;        /*added this */
    padding-bottom: 5px;     /*added this */
}


.manage-button {         /*added this */
    display: flex;           /*added this */
    justify-content: center;  /*added this */
    margin-top: 10px;        /*added this */
}
