.manage-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#manage-posts-overview h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;

}

.manage-display-posts-container {
    width: 600px;
    gap: 20px;

}

.manage-post-tile {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}


.manage-post-info {
    margin-bottom: 15px;
    color: white;
    padding-bottom: 5px;
}


.post-images {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

}

.post-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
    padding-top: 5px;
}

.manage-tag-display {
    display: flex;
    flex-wrap: wrap;
    color: white;        /*added this */
}

.manage-tag-display{
    word-break: break-all;
}

.managePost-title{
    word-break: break-all;
    color: white;       /*added this */
    border-bottom: solid white 2px; /*added this */
}
.managePost-body{
    word-break: break-all;
    color: white;
    padding-bottom: 5px;
}


.manage-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .manage-display-posts-container {
        width: 90%;
        padding: 0 10px;
    }

    .manage-post-tile {
        width: 100%;
        flex-direction: column;
    }

    .post-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .managePost-title {
        font-size: 1.25rem;
    }

    .managePost-body {
        font-size: 0.875rem;
    }

    .manage-button {
        flex-direction: column;
    }
}
