@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Nanum+Gothic&family=PT+Sans+Narrow:wght@400;700&display=swap');

.homepage-body {
display: flex;
justify-content: center;
align-items: center;
width: 800;
margin-top: 40px;

}

.homepage-single {
  text-decoration: none;
  color: #333;
  margin: 40px;
}

.post-content:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgb(255, 255, 255);
}

.post-content {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 800px;
  margin-top: 25px;
  color: white;     /*added this*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-title {
  border-bottom: solid white 2px;
font-size: 1.5rem;
margin-bottom: 25px;
word-break: break-all;
}

.post-owner {
font-style: italic;
margin-bottom: 5px;
}

.post-body {
margin-top: 10px;
}

.post-likes {
font-weight: bold;
}

.post-body {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.post-comment {
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.post-subtitle{
  font-family: "Nanum Gothic", sans-serif;
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-image{
  width: 500px;
  height: 400px;
}
