.deleteComment-modal{
    width: 550px;
    height: 150px;
    background-color: rgb(132, 156, 183); /*added this*/
    color: white;   /*added this*/
    border-radius: 15px;    /*added this*/
}

.deleteComment-content{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
}

.deleteComment-yes{
    width: 100px;
    height: 50px;
    padding: 0 10px 0 10px;
    background-color: rgb(114, 114, 204);   /*added this*/
    border-radius: 15px;    /*added this*/
    font-size: 18px /*added this*/
}

.deleteComment-no{
    width: 100px;
    height: 50px;
    padding: 0 10px 0 10px;
    background-color: rgb(114, 114, 204);   /*added this*/
    border-radius: 15px;    /*added this*/
    font-size: 18px /*added this*/
}

.deleteComment-yes:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.deleteComment-no:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.deleteComment-btns{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .deleteComment-modal {
      width: 90%;
      height: auto;
      margin: 0 auto;
    }

    .deleteComment-content {
      padding: 10px;
      font-size: 12px;
    }

    .deleteComment-content h1 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 15px;
    }

    .deleteComment-yes,
    .deleteComment-no {
        height: 40px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .deleteComment-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
  }
