/* .post-images{
    width: 300px;
    height: 600px;
}

.main-image{
    width: 500px;
    height: 600px;
} */

.post-images{
    width: 600px;
    height: 600px;
}

.main-image{
    width: 600px;
    height: 600px;
}
