.comment-box {
    border: 5px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.comment{
    border: 1px solid white;
    margin-top: 20px;
    padding: 20px;
}

.comment-container {
    margin-bottom: 10px;
}

.manage-btn {
    display: flex;
    justify-content: flex-end;
}


.comments-list{
    word-break: break-all;
}


.manage-update,
.manage-delete {
    margin-left: 10px;
}

.btn-space {
    margin: 0 10px;
}

.comment-mainPost {
    color: rgb(165, 237, 255);
    font-size: large;

}

.comment-body{
  font-family: "Chakra Petch", sans-serif;
  margin-top: px;

}

.manage-update,
.manage-delete:hover {
   background-color: white;
   color: black;
   cursor: pointer;
}


.manage-comments-container{
    width: 1500px;
    padding-left: 40px;
    padding-top: 30px;
}

.comment-mainPost{
    padding-bottom: 10px;
}
