.editComment-modal{
    width: 700px;
    height: 500px;
    background-color: rgb(132, 156, 183);   /* added this*/
    border-radius: 15px;
    padding-top: 0px;
}

.editComment-content{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
    justify-content: space-between;
}

.editComment-content h2 {
    text-align: center;
}

.editComment-content textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.editComment-btn {
    justify-content: center;    /* added this*/
    padding-top: 20px;
}

.editComment-update {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(114, 114, 204);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;     /* added this*/
}

.editComment-update:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .editComment-modal {
      width: 90%;
      height: auto;
      padding-top: 10px;
    }

    .editComment-content h2 {
      font-size: 1.2rem;
    }

    .editComment-content textarea {
      height: 150px;
    }

    .editComment-btn {
      padding-top: 10px;
    }

    .editComment-update {
      font-size: 14px;
    }
  }
