.createpost-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.createpost-form {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 750px;
  margin-top: 40px;
}

.createpost-content {
  margin-bottom: 240px;
}

.createpost-content h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.createpost-content label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.createpost-content input,
.createpost-content textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  resize: none;
}

.createpost-content .form-group {
  margin-bottom: 10px;
}

.createpost-content .photo {
  position: relative;
}

.createpost-content .error {
  color: rgb(5, 247, 231);  /* Style error messages */
}

.createpost-content button {
  width: 100%;
  padding: 10px;
  background-color: rgb(114, 114, 204);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button {
  margin-top: 10px;
}

.create-btn:hover{
  background-color: white;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.create-btn{
  color: white;
}

#charCount {
  font-size: small;
  color: red;
}
#charBody {
  color: red;
  font-size: small;
}

.createpost-body{
  resize: none;
}

.char-counter{
  color: rgb(255, 0, 0);
  letter-spacing: 1.5px;
}

.upload-button{
  color:red;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .createpost-form {
    width: 90%;
    height: auto;
  }

  .createpost-content {
    margin-bottom: 20px;
  }

  .createpost-content h1 {
    font-size: 20px;
  }

  .createpost-content input,
  .createpost-content textarea {
    font-size: 14px;
  }

  .createpost-content .form-group {
    margin-bottom: 5px;
  }


  .createpost-content button {
    padding: 8px;
  }
}
