.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #2f2f2f;
    height: 80px;
  }

  .footer-links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }

  .footer-links a:hover {
    background-color: #ccc;
  }

  @media screen and (max-width: 768px) {
    .footer-links {
      height: auto;
      padding: 10px;
    }

    .footer-links a {
      font-size: 14px;
      padding: 8px;
    }
    .footer-links a:hover {
      background-color: #ccc;
    }
  }
