@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.create-comment-modal{
  width: 700px;
  height: 500px;
  background-color: rgb(132, 156, 183);   /* added this*/
  border-radius: 15px;
  padding-top: 0px;
}

.createModal-content{
  color: white;
  display: flex;  /* added this*/
  flex-direction: column;
  padding: 20px;  /* added this*/
  border-radius: 15px;    /* added this*/
  overflow: auto;     /* added this*/
  justify-content: space-between;
}

.createModal-content h2{
  text-align: center;
  padding-bottom: 5px;
}

.createModal-content textarea {   /* added this*/
  width: 100%;    /* added this*/
  height: 150px;  /* added this*/
  padding: 10px;  /* added this*/
  border-radius: 5px;     /* added this*/
  resize: none;   /* added this*/
}

.createComment-btn{
  justify-content: center;    /* added this*/
  padding-top: 30px;
}
.createComment-sub{
  padding: 5px 10px;      /* added this*/
  font-size: 16px;        /* added this*/
  border: none;           /* added this*/
  background-color: rgb(114, 114, 204);       /* added this*/
  color: #fff;        /* added this*/
  cursor: pointer;        /* added this*/
  border-radius: 5px;     /* added this*/
}

.createComment-sub:hover {      /* added this*/
  color: black;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .create-comment-modal {
    width: 90%;
    height: auto;
    max-height: 90%;
    padding: 15px;
    border-radius: 10px;
  }

  .createModal-content {
    padding: 15px;
  }

  .createModal-content h2 {
    font-size: 1.2rem;
  }

  .createModal-content textarea {
    height: 120px;
    padding: 8px;
    font-size: 12px;
  }

  .createComment-btn {
    padding-top: 20px;
  }

  .createComment-sub {
    padding: 5px;
    font-size: 14px;
  }
}
