/* TODO: Add sitewide styles */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


* {
    box-sizing: border-box;
      font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  font-style: normal;
  /* background-color: #2a475e; */
  /* color: black; */


}

body {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=3872ab&c2=021a28&gt=l&gd=dbb
*/
background: #3872AB;
background: linear-gradient(0deg, #3872AB, #021A28);
box-sizing: border-box;
}
