.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(132, 156, 183, 0.771);
  height: 250px;
}

.login-modal label {
  margin-bottom: 10px; /* Add space between each input label */
}

.login-modal input {
  width: 100%; /* Make the input full width */
  padding: 5px;
  margin-top: 5px;
}

.login-modal p {
  color: rgb(24, 27, 204);
  margin-top: 5px;
  letter-spacing: 1.5px;
}

.login-modal button {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(114, 114, 204);
  padding: 0px 5px 0px 5px;

}
.login-modal button:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.signup-modal{
    margin-top: 5px;
    padding-bottom: 5px;
}

.login-class{
    display: flex;
    justify-content: center;
    background-color: rgba(132, 156, 183, 0.771);     /* added this*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
