.navbar {
  padding: 10px;
  border-bottom: solid rgb(255, 255, 255) 4px;
  color: white;
  position: relative;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  padding-right: 15px;
  color: wheat;
}



.profile-dropdown {
  position: absolute;
  top: 100%;
  border: solid rgb(255, 255, 255) 2px;
  overflow: hidden;
  display: none;
  list-style: none;

}

.profile-dropdown {
  display: block; /* Show the dropdown when the menu is clicked */
}

.profile-dropdown:hover {
  cursor: pointer;
}


.profile-style {
margin: 5px;
text-align: start;
}

.profile-style:hover{
    cursor: pointer;
}

.nav-circle{
  border-radius: 4px;
}

.dropdown-btn{
  cursor: pointer;
  background-color: rgb(114, 114, 204);
  color: white;

}

.dropdown-btn:hover{
  background-color: white;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.profile-btn{
  background-color: transparent;
  cursor: pointer;
}

.gamepad-icon{
  font-size: 20px;
  color: white;
  padding-top: 5px;
}

.profile-dropdown{
  padding: 5px;
  left: 93.6%;
}
